.wrapper {
  margin: 100px auto 20px;
  width: 380px;
}
select {width: 80px;}
#rate {
  width: 50px;
}
#sequencer {
  margin: 20px 0;
  overflow: hidden;
}
#sequencer ul {
  font-size: 0;
  margin-bottom: 10px;
  margin-left: -5px;
  padding: 0;
}
#sequencer li {
  background-color: #ccc;
  border-radius: 3px;
  display: inline-block;
  height: 20px;
  list-style: none;
  margin-left: 5px;
  width: 45px;
  vertical-align: top;
}
#sequencer li[data-value='1'] {
  background-color: #666;
}
#sequencer li#on {
  background-color: #00db52;
}
